<%- include('templates/header') %>

<div class="text-center">
    <h1 class="display-1 text-danger">403</h1>
    <h2>Not Authorized</h2>
    <p class="lead">You do not have permission to view this page.</p>
    <a href="/" class="btn btn-primary">Go Home</a>
</div>

<%- include('templates/footer') %>
