<%- include('templates/header') %>

<h2 class="mb-4">Hello, <strong><%= name %></strong>.</h2>

<img src="/<%= image %>" class="img-fluid rounded mb-4" alt="Random cat">

<br>
<a href="/logout" class="btn btn-outline-secondary">Sign Out</a>

<%- include('templates/footer') %>
